body{
    background: #dedede;
    font-family: arial;
    margin: 0;
    padding: 0;
}
.droptown{
    margin: 0 auto;
}
nav{
    height: 200px;
    background: #2c3e50;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.img{
    padding: 5px 0  0 80px;
    width: 150px;
    height: auto;
}
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}
nav ul li{
    background: #2c3e50;
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}
nav ul li a:hover{
    background: darkred;
}
nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul li{
    color: darkred;
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

.back-video{
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;

}
@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.copyrighttext{
    width: 100%;
    background: lightgray;
    padding: 8px 100px;
    text-align: center;
    color: black;
}